<div class="row" data-hook="payment_provider_form_fields">
  <div class="col-12">
    <div data-hook="payment_provider_name" class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'fullwidth' %>
    </div>
  </div>
</div>
