$padding-x-navbar: 26px;
$padding-y-navbar: 13px;
$padding-y-navbar-submenu: 9px;

#admin-nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.75em 1em 1.75em 0;
  background-color: $color-1;
  cursor: pointer;

  i {
    transform: rotate(0);
    transition: transform $sidebar-transition;
  }
}

.admin-nav-hidden {
  padding-left: $width-sidebar-collapsed;

  .admin-nav,
  .admin-nav-footer {
    width: $width-sidebar-collapsed;
  }

  .tab-with-icon .text,
  .brand-link {
    display: none;
  }

  .selected:not(:hover) .admin-subnav {
    visibility: hidden;
    opacity: 0;
  }

  .admin-nav-menu .selected li {
    padding-left: 0;
  }

  #admin-nav-toggle {
    padding-right: 1.5em;

    i {
      transform: rotate(180deg);
    }
  }
}

nav.menu {
  ul {
    list-style: none;

    li {
      a {
        padding: 10px 0;
        display: block;
        position: relative;
        text-align: left;
        border: 1px solid transparent;
        font-weight: $font-weight-bold;
      }

      &.active a {
        color: $color-2;
        border-left-width: 0;
        border-bottom-color: $color-2;
      }
    }
  }
}

.admin-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-sticky;
  width: $width-sidebar;
  border-right: $border-sidebar;
  background: $color-sidebar-bg;
  transition: width $sidebar-transition;

  @media print {
    display: none
  }
}

.admin-nav-header {
  height: $main-header-height;
  background-color: $color-1;
  border-bottom: 1px solid $color-border;
  padding: 0 2em 0 1em;
  // Using line height for proper vertical centering.
  // As line height does not take the border width into account we need to subtract it.
  line-height: $main-header-height - 1px;
}

.admin-nav-menu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    background: $color-navbar-bg;

    &:hover {
      background: $color-navbar-active-bg;

      > a {
        color: $color-navbar-active;
      }
    }

    &.selected {
      background: $color-navbar-active-bg;

      > a {
        color: $color-navbar-active;
      }
    }

    &.selected li {
      padding-left: 2em;
    }

    &:not(.selected):not(:hover) > ul {
      visibility: hidden;
      opacity: 0;
    }

    &:not(.selected),
    .admin-nav-hidden & {
      position: relative;

      // flyout nav
      > ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: $width-sidebar-flyout;
        margin-left: 0;
        border: $border-sidebar;
        background: $color-navbar-submenu-bg;
        box-shadow: $box-shadow;
        @include caret($direction: left, $color-caret: $color-navbar-submenu-bg);

      &:before {
        z-index: 1;
        top: 1.5em;
      }
     }
    }
  }

  a {
    display: block;
    min-height: 39px;
    padding: $padding-y-navbar $padding-x-navbar;
    color: $color-navbar;
    font-weight: normal;
  }

  .icon_link {
    text-indent: 2em;

    &:before {
      position: absolute;
      left: 1em;
      transform: translateX(-50%);
    }
  }

  // until .fa usage is corrected
  .text {
    font-family: $font-family-base;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
  }

  .admin-subnav {
    background: $color-navbar-submenu-bg;
    padding-top:    $padding-y-navbar - $padding-y-navbar-submenu;
    padding-bottom: $padding-y-navbar - $padding-y-navbar-submenu;
    opacity: 1;
    transition: opacity $sidebar-transition;

    li {
      background: $color-navbar-submenu-bg;
    }

    a {
      color: $color-navbar-submenu;
      padding-top:    $padding-y-navbar-submenu;
      padding-bottom: $padding-y-navbar-submenu;

      &:hover {
        color: $color-navbar-submenu-active;
      }
    }

    .selected {
      a {
        color: $color-navbar-submenu-active;
      }
    }
  }
}

.admin-nav-footer {
  width: $width-sidebar;
  background-color: $color-navbar-footer-bg;
  border-top: $border-sidebar;
  border-right: $border-sidebar;
  transition: width $sidebar-transition;

  a {
    color: $color-navbar-footer;

    &:hover {
      color: $color-navbar-footer-active;
    }
  }
}

.admin-locale-selection {
  margin: 1em;
}

.admin-nav.fits .admin-nav-footer {
  position: fixed;
  bottom: 0;
}

.admin-login-nav {
  list-style: none;
  padding: 0;
  margin: 1rem 0;

  li {
    padding: 0.3rem 1.2rem;
  }

  a {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  i {
    margin-right: 0.5rem;
  }
}
